.cell,
.cell__content-wrapper,
.cell__number,
.cell__title {
  transition: $transition-common;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 300px;
}

.cell__content-wrapper  {
  position: relative;
  flex: 1;
  color: black;
  background-color: $color-background;
  text-decoration: none;

  &:hover {
    background-color: darken($color-background, 20%);
    color: white;

    & .cell__number,
      .cell__title {
        opacity: 0;
    }
  }
}

.cell__number {
  position: absolute;
  top: 5%;
  left: 5%;
}

.cell__title {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.cell__number,
.cell__title {
  @include media($small-up) {
    font-size: 24px;
  }

  @include media($large-mobile-up) {
  }

  @include media($medium-up) {
    font-size: 34px;
  }

  @include media($large-up) {
    font-size: 44px;
  }

  @include media($x-large-up) {
    font-size: 54px;
  }
}
