.cell {
  background-color: $color-background;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 300px;
}

// .cell__content-wrapper {
//   margin: 0 auto;
//   display: flex;
//   align-items: center;
// }
//
// .cell__content-wrapper > a {
//   text-decoration: none;
// }
//
// .cell__content-wrapper > a:visited {
//   color: black;
// }
//
// .cell__number,
// .cell__title {
//   flex: 1;
//
//   @include mq(mobile) {
//     font-size: 24px;
//     color: green;
//   }
//
//   @include mq(largeMobile) {
//     color: red;
//   }
//
//   @include mq(tablet) {
//     font-size: 34px;
//     color: blue;
//   }
//
//   @include mq(desktop) {
//     font-size: 44px;
//     color: orange;
//   }
//
//   @include mq(largeDesktop) {
//     font-size: 54px;
//     color: brown;
//   }
// }
//
// .cell__icon {
//   margin: 0 10px;
// }
