html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.title {
  color: darkgrey; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.container-main {
  flex: 1; }

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.wrapper {
  margin: 0 auto;
  text-align: center;
  transition: all 0.3s ease; }
  @media screen and (min-width: 320px) {
    .wrapper {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .wrapper:last-child {
        margin-right: 0; } }

@media screen and (min-width: 800px) {
  .wrapper--l4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .wrapper--l4:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .wrapper--m4 {
    margin-left: 34.11922%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .wrapper--m4:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .wrapper--r4 {
    margin-left: 68.23843%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .wrapper--r4:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .wrapper--l3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .wrapper--l3:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .wrapper--lm3 {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .wrapper--lm3:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .wrapper--rm3 {
    margin-left: 51.17883%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .wrapper--rm3:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .wrapper--r3 {
    margin-left: 76.76824%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .wrapper--r3:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .wrapper--m6 {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .wrapper--m6:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container {
    margin-bottom: 2rem; }

  .container:nth-child(odd) {
    transform: translateZ(0); }

  .container:nth-child(even) {
    transform: translateZ(-1px) scale(2);
    margin-bottom: 2rem; } }
@media (max-width: 800px) {
  .container {
    border-bottom: 1px solid darkgrey; } }

@media screen and (min-width: 800px) {
  .container--y0-z2 {
    transform: translateY(0);
    z-index: 2; } }

@media screen and (min-width: 800px) {
  .container--y-100-z1 {
    transform: translateY(-100px);
    z-index: 1; } }

@media screen and (min-width: 800px) {
  .container--y-100-z2 {
    transform: translateY(-75px);
    z-index: 2; } }

@media screen and (min-width: 800px) {
  .container--y-250-z2 {
    transform: translateY(-250px);
    z-index: 2; } }

@media screen and (min-width: 800px) {
  .container--y0-z1 {
    transform: translateY(0);
    z-index: 1; } }

.cell,
.cell__content-wrapper {
  transition: all 0.3s ease; }

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 300px; }

.cell__content-wrapper {
  position: relative;
  flex: 1;
  color: black;
  background-color: gold;
  text-decoration: none; }
  .cell__content-wrapper:hover {
    background-color: #998100;
    color: white; }

.cell__number {
  position: absolute;
  top: 5%;
  left: 5%; }

.cell__title {
  position: absolute;
  bottom: 5%;
  right: 5%; }

@media screen and (min-width: 320px) {
  .cell__number,
  .cell__title {
    font-size: 24px; } }
@media screen and (min-width: 800px) {
  .cell__number,
  .cell__title {
    font-size: 34px; } }
@media screen and (min-width: 1024px) {
  .cell__number,
  .cell__title {
    font-size: 44px; } }
@media screen and (min-width: 1440px) {
  .cell__number,
  .cell__title {
    font-size: 54px; } }

/*# sourceMappingURL=style.css.map */
