html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.title {
  color: darkgrey; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.container-main {
  flex: 1; }

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.header__container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto; }
  .header__container::after {
    clear: both;
    content: "";
    display: table; }

.header {
  background-color: darkgrey;
  padding: 1rem 0; }

.logo {
  font-size: 2rem;
  font-weight: bold; }

@media (max-width: 800px) {
  .container {
    border-bottom: 1px solid darkgrey; } }

@media screen and (min-width: 800px) {
  .container--parallax {
    margin-bottom: 2rem; }

  .container--parallax:nth-of-type(odd) {
    transform: translateZ(0); }

  .container--parallax:nth-of-type(even) {
    transform: translateZ(-1px) scale(2);
    margin-bottom: 2rem; } }
.grid-wrapper {
  margin: 0 auto;
  text-align: center;
  transition: all 0.3s ease; }
  @media screen and (min-width: 320px) {
    .grid-wrapper {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .grid-wrapper:last-child {
        margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(1) {
    margin-top: 30px;
    z-index: 2; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(1) .grid-wrapper {
    margin-left: 0%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container--grid:nth-of-type(1) .grid-wrapper:last-child {
      margin-right: 0; } }
.container--grid:nth-of-type(1) .cell__content-wrapper {
  background-size: cover;
  background-repeat: none;
  background-image: url("../lesson_files/01/lesson_01.png"); }
  .container--grid:nth-of-type(1) .cell__content-wrapper:hover {
    background-image: url("../lesson_files/01/lesson_01.gif"); }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(2) {
    margin-top: 100px;
    z-index: 1; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(2) .grid-wrapper {
    margin-left: 34.11922%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container--grid:nth-of-type(2) .grid-wrapper:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(3) {
    margin-top: -100px;
    z-index: 2; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(3) .grid-wrapper {
    margin-left: 68.23843%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container--grid:nth-of-type(3) .grid-wrapper:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(4) {
    margin-top: -75px;
    z-index: 1; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(4) .grid-wrapper {
    margin-left: 0%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .container--grid:nth-of-type(4) .grid-wrapper:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(5) {
    margin-top: -250px;
    z-index: 2; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(5) .grid-wrapper {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .container--grid:nth-of-type(5) .grid-wrapper:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(6) {
    margin-top: 0;
    z-index: 1; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(6) .grid-wrapper {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .container--grid:nth-of-type(6) .grid-wrapper:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(7) {
    margin-top: 0;
    z-index: 2; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(7) .grid-wrapper {
    margin-left: 51.17883%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .container--grid:nth-of-type(7) .grid-wrapper:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(8) {
    margin-top: 150px;
    z-index: 1; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(8) .grid-wrapper {
    margin-left: 34.11922%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container--grid:nth-of-type(8) .grid-wrapper:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(9) {
    margin-top: 0;
    z-index: 2; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(9) .grid-wrapper {
    margin-left: 0%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container--grid:nth-of-type(9) .grid-wrapper:last-child {
      margin-right: 0; } }

@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(10) {
    margin-top: 250px;
    z-index: 2; } }
@media screen and (min-width: 800px) {
  .container--grid:nth-of-type(10) .grid-wrapper {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .container--grid:nth-of-type(10) .grid-wrapper:last-child {
      margin-right: 0; } }

.cell,
.cell__content-wrapper,
.cell__number,
.cell__title {
  transition: all 0.3s ease; }

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 300px; }

.cell__content-wrapper {
  position: relative;
  flex: 1;
  color: black;
  background-color: gold;
  text-decoration: none; }
  .cell__content-wrapper:hover {
    background-color: #998100;
    color: white; }
    .cell__content-wrapper:hover .cell__number,
    .cell__content-wrapper:hover .cell__title {
      opacity: 0; }

.cell__number {
  position: absolute;
  top: 5%;
  left: 5%; }

.cell__title {
  position: absolute;
  bottom: 5%;
  right: 5%; }

@media screen and (min-width: 320px) {
  .cell__number,
  .cell__title {
    font-size: 24px; } }
@media screen and (min-width: 800px) {
  .cell__number,
  .cell__title {
    font-size: 34px; } }
@media screen and (min-width: 1024px) {
  .cell__number,
  .cell__title {
    font-size: 44px; } }
@media screen and (min-width: 1440px) {
  .cell__number,
  .cell__title {
    font-size: 54px; } }

/*# sourceMappingURL=style.css.map */
