//////// left-to-right layout in grid ///////
.wrapper {
  margin: 0 auto;
  text-align: center;
  transition: $transition-common;

  @include media($small-up) {
    @include span-columns(12);
  }
}

// 3-column cells
.wrapper--l4 {
  @include media($medium-up) {
    @include span-columns(4);
  }
}

.wrapper--m4 {
  @include media($medium-up) {
    @include shift(4);
    @include span-columns(4);
  }
}

.wrapper--r4 {
  @include media($medium-up) {
    @include shift(8);
    @include span-columns(4);
  }
}

// 4-column cells
.wrapper--l3 {
  @include media($medium-up) {
    @include span-columns(3);
  }
}

.wrapper--lm3 {
  @include media($medium-up) {
    @include shift(3);
    @include span-columns(3);
  }
}

.wrapper--rm3 {
  @include media($medium-up) {
    @include shift(6);
    @include span-columns(3);
  }
}

.wrapper--r3 {
  @include media($medium-up) {
    @include shift(9);
    @include span-columns(3);
  }
}

// 6-column cells
.wrapper--m6 {
  @include media($medium-up) {
    @include shift(3);
    @include span-columns(6);
  }
}

// translateZ for parallax effect, only to be applied on
// screen sizes medium (~800px) and up
@include media($medium-up) {
  .container--parallax {
    margin-bottom: 2rem;
  }
  .container--parallax:nth-child(odd) {
    transform: translateZ(0);
  }

  .container--parallax:nth-child(even) {
    transform: translateZ(-1px) scale(2);
    margin-bottom: 2rem;
  }
}

.container {
  @media(screen and max-width: 800px) {
    border-bottom: 1px solid $color-text;
  }
}


//////// translateY & z-index for overlap ///////
@mixin positionShift($translateY, $z-index) {
  @include media($medium-up) {
    transform: translateY(#{$translateY});
    z-index: #{$z-index};
  }
}

.container--grid:nth-child(2) {
  @include positionShift(100, 1)
}
.container--grid:nth-child(3) {
  @include positionShift(-100px, 2);
}
.container--grid:nth-child(4) {
  @include positionShift(-75px, 1)
}
.container--grid:nth-child(5) {
  @include positionShift(-250px, 2)
}
.container--grid:nth-child(6) {
  @include positionShift(0, 1);
}
.container--grid:nth-child(7) {
  // TBD
}
